*{
    margin: 0;
    padding: 0;
    font-family: Courier New;
}

.container{
    width: 100%;
    height: 100vh;
    background: radial-gradient(
        farthest-corner at 50% 150%,
            );
    display: flex;

}
.member-page h1 {
    margin-top: 2%;
    text-align: center;
}

.tool-bar {
    text-align: center;
    width: 25%;
}

.member-page {
    outline: 2px solid black;
    width: 100%;
    margin-left: 2px;
    background-color: white;
}

.member-page h2 {
    margin-top: 40px;
    margin-left: 25px;
    background: solid white;

}

.member-page p1 {
    font-weight: 20;
    outline: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px
}

.tool-bar button {
    background-color: rgba(0,0,0,.0);
        font-size: 150%;
        height: 50px;
        width: 100%;
        outline: 2px solid black;
        border-radius: 0px;
        border: 0;
        outline: 1;
        cursor: pointer;
        margin-bottom: 2px;
}

p-name {

}

.p-birthday {
}
.p-unread {
}
.p-password {
}
.p-id {
}
