*{
    margin: 0;
    padding: 0;
    font-family: Courier New;
}

.container{
    width: 100%;
    height: 100vh;
    background: radial-gradient(
        farthest-corner at 50% 150%,
        #24209F,
        #33ACFF
    );
    display: flex;

}
.loading {
    display: block;
    text-align: center;
}

.tool-bar {
    text-align: center;
    width: 25%;
}

.notifications-page {
    outline: 2px solid black;
    width: 100%;
    margin-left: 2px;
    background-color: white;
}

.tool-bar button {
    background-color: rgba(0,0,0,.0);
        font-size: 150%;
        height: 50px;
        width: 100%;
        outline: 2px solid black;
        border-radius: 0px;
        border: 0;
        outline: 1;
        cursor: pointer;
        margin-bottom: 2px;
}
.notifications {
}

.notifications h1 {
    padding: 25px 30px;
    font-size: 150%;
}

.notifications button {
    position: relative;
    top: -9px;
    background: #33ACFF;
    margin-left: 25px;
    height: 25px;
    width: 100px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.notifications p {
    position: relative;
    font-size: 20;
    outline: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}


